## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)
from ipywidgets.embed import embed_minimal_html
%matplotlib inline

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,San Pedro,PH,2021-05-28 01:48:52,14.3500,121.0167,92.35,64,20,6.76,few clouds
1,1,Hilo,US,2021-05-28 01:43:59,19.7297,-155.0900,82.13,71,20,11.50,few clouds
2,2,Kapaa,US,2021-05-28 01:48:52,22.0752,-159.3190,84.18,70,20,1.99,few clouds
3,3,Rikitea,PF,2021-05-28 01:48:53,-23.1203,-134.9692,71.15,58,32,4.65,scattered clouds
4,4,Cabo San Lucas,MX,2021-05-28 01:48:03,22.8909,-109.9124,88.81,61,100,11.92,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minimum_temperature = int(input("Enter minimum temperature"))
maximum_temperature = int(input("Enter maximum temperature"))

Enter minimum temperature75
Enter maximum temperature90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_city_data_df = city_data_df.loc[(city_data_df["Max Temp"] >= minimum_temperature) & (city_data_df["Max Temp"] <= maximum_temperature)]
filtered_city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,2021-05-28 01:43:59,19.7297,-155.0900,82.13,71,20,11.50,few clouds
2,2,Kapaa,US,2021-05-28 01:48:52,22.0752,-159.3190,84.18,70,20,1.99,few clouds
4,4,Cabo San Lucas,MX,2021-05-28 01:48:03,22.8909,-109.9124,88.81,61,100,11.92,overcast clouds
5,5,Kulhudhuffushi,MV,2021-05-28 01:48:53,6.6221,73.0700,82.56,77,58,20.09,broken clouds
7,7,Butaritari,KI,2021-05-28 01:48:54,3.0707,172.7902,83.91,78,64,16.20,light rain

In [5]:
# 4a. Determine if there are any empty rows.
filtered_city_data_df.isna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
654,False,False,False,False,False,False,False,False,False,False,False
656,False,False,False,False,False,False,False,False,False,False,False
657,False,False,False,False,False,False,False,False,False,False,False
664,False,False,False,False,False,False,False,False,False,False,False
665,False,False,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_city_data_df = filtered_city_data_df.dropna()
filtered_city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,2021-05-28 01:43:59,19.7297,-155.0900,82.13,71,20,11.50,few clouds
2,2,Kapaa,US,2021-05-28 01:48:52,22.0752,-159.3190,84.18,70,20,1.99,few clouds
4,4,Cabo San Lucas,MX,2021-05-28 01:48:03,22.8909,-109.9124,88.81,61,100,11.92,overcast clouds
5,5,Kulhudhuffushi,MV,2021-05-28 01:48:53,6.6221,73.0700,82.56,77,58,20.09,broken clouds
7,7,Butaritari,KI,2021-05-28 01:48:54,3.0707,172.7902,83.91,78,64,16.20,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,82.13,few clouds,19.7297,-155.0900,
2,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
4,Cabo San Lucas,MX,88.81,overcast clouds,22.8909,-109.9124,
5,Kulhudhuffushi,MV,82.56,broken clouds,6.6221,73.0700,
7,Butaritari,KI,83.91,light rain,3.0707,172.7902,
12,Atuona,PF,78.80,broken clouds,-9.8000,-139.0333,
23,Wattegama,LK,77.92,few clouds,6.7989,81.4808,
25,Laguna,US,89.31,clear sky,38.4210,-121.4238,
27,Kavieng,PG,80.60,moderate rain,-2.5744,150.7967,
28,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,82.13,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Cabo San Lucas,MX,88.81,overcast clouds,22.8909,-109.9124,Tesoro Los Cabos
5,Kulhudhuffushi,MV,82.56,broken clouds,6.6221,73.0700,Haajy Guest House 1
7,Butaritari,KI,83.91,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
653,Carora,VE,76.57,scattered clouds,10.1755,-70.0827,Hotel Irpinia
654,Altay,CN,75.51,clear sky,47.8667,88.1167,Jinqiao Hotel
656,Acapulco,MX,83.07,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
657,Mandera,KE,76.03,scattered clouds,3.9366,41.8670,Kornesh Hotel and Lodging
665,Athni,IN,77.72,overcast clouds,16.7333,75.0667,Bhawani tea coffee enterprises

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
#output_data_file = "weatherPy_vacation.csv"
#clean_hotel_df = pd.read_csv(output_data_file)
#clean_hotel_df.head()

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))